@model CreateEmployeeDTO
@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Yeni Personel Ekleme Sayfası</h1>
                <form method="post">
                    <label>Personel Adı</label>
                    <input type="text" asp-for="EmployeeName" class="form-control" />
                    <br />
                    <label>Personel Ünvanı</label>
                    <input type="text" asp-for="EmployeeTitle" class="form-control" />
                    <br />
                    <label>Personel Mail Adresi</label>
                    <input type="email" asp-for="EmployeeMail" class="form-control" />
                    <br />
                    <label>Personel Numarası</label>
                    <input type="tel" asp-for="EmployeePhoneNumber" class="form-control" />
                    <br />
                    <label>Personel Fotoğrafı</label>
                    <input type="text" asp-for="EmployeeImageURL" class="form-control" />
                    <br />

                    <button class="btn btn-primary">Personeli Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
