@model UpdateWhoWeAreDetailDTO
@{
    ViewData["Title"] = "UpdateWhoWeAreDetail";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Yeni Biz Kimiz Ekleme Sayfası</h1>
                <form method="post">
                    <input type="hidden" asp-for="WhoWeAreDetailID"/>
                    <label>Başlık</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                    <label>Alt Başlık</label>
                    <input type="text" asp-for="Subtitle" class="form-control" />
                    <br />
                    <label>Açıklama 1</label>
                    <textarea type="text" asp-for="Description1" rows="5" class="form-control"></textarea>
                    <br />
                    <label>Açıklama 2</label>
                    <textarea type="text" asp-for="Description2" rows="5" class="form-control"></textarea>
                    <br />
                    <button class="btn btn-success" style="text-decoration-color:white">Biz Kimiz'i Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
